/* find bar styling */
findbar {
  position: absolute;
  bottom: 20px;
  width: 90%;
  align-self: center;
  border-radius: var(--border-radius-medium);
  box-shadow: var(--mac-shadow-deep) var(--mac-shadow-deep) 0px currentColor !important;
  border: 2px solid currentColor !important;
}

findbar hbox {
  flex-grow: 1;
  height: 100%;
}

findbar .findbar-textbox {
  background: none !important;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  flex-grow: 1;
  width: unset !important;
}
