/* -------------------------- */
/* STATIC URL BAR (normal) */
/* -------------------------- */
:root:not([inDOMFullscreen="true"]) #urlbar:not([breakout-extend="true"]) {
  border: 2px solid currentColor !important;
  border-radius: 10px !important;

  box-shadow: 4px 4px 0px currentColor !important;

  transition: transform 0.1s ease,
              box-shadow 0.1s ease !important;
}


#urlbar:not([breakout-extend="true"]):active,
:root:not([inDOMFullscreen="true"]) #urlbar:not([breakout-extend="true"]):active {
  transform: translate(4px, 4px) !important;
  box-shadow: 0px 0px 0px currentColor !important;
}

/*to align the sidebar */
#navigator-toolbox {
  padding-right: 2px !important;
}

/* -------------------------- */
/* TABS AND ESSENTIALS */
/* -------------------------- */

/* Reset previous styling */
tab[zen-essential="true"],
tab[pinned="true"] {
  border: none !important;
  box-shadow: none !important;
  transform: none !important;
  border-radius: 12px !important;
}

tab[zen-essential="true"] .tab-background:before{
  display: none !important;
}

tab[zen-essential="true"] .tab-background:after{
/*   background: var(--tab-selected-bgcolor) !important; */
  opacity: 0.5 !important;
}


/* Style actual visible tab surface */
tab[zen-essential="true"] .tab-background,
tab[pinned="true"] .tab-background {
  border: 2px solid currentColor !important;
  border-radius: 12px !important;
  box-shadow: 4px 4px 0px currentColor !important;
  transition: transform 0.1s ease,
              box-shadow 0.1s ease !important;
}


/* Prevent overlap between pinned tabs */
tab:not([zen-essential="true"])[pinned="true"]{
  margin-bottom: 4px !important;
}


/* Push click effect */
tab[zen-essential="true"]:active .tab-background,
tab[pinned="true"]:active .tab-background {
  transform: translate(4px, 4px) !important;
  box-shadow: 0px 0px 0px currentColor !important;
}

/* re-click small press effect */
tab[zen-essential="true"][selected="true"]:active .tab-background,
tab[pinned="true"][selected="true"]:active .tab-background {
  transform: translate(3px, 3px) !important;
  box-shadow: 0px 0px 0px currentColor !important;
}

/* Active tab pressed state */
tab[selected="true"] .tab-background {
  transform: translate(2px, 2px) !important;
  box-shadow: 1px 1px 0px currentColor !important;
}

/* Move favicon + label together */
tab[pinned="true"][selected="true"] .tab-icon-stack,
tab[pinned="true"][selected="true"] .tab-label-container,
tab[pinned="true"][selected="true"] .tab-reset-button{
  transform: translate(2px, 2px) !important;
}

tab[pinned="true"][zen-pinned-changed="true"]:not([zen-essential="true"])[selected="true"] .tab-icon-stack{
  transform: translate(5px, -5px) !important;
}


tab[pinned="true"][zen-pinned-changed="true"]:not([zen-essential="true"])[selected="true"] .tab-content .tab-reset-pin-button{
  transform: translate(2px, 2px) !important;
}


tab[pinned="true"][selected="true"]:active .tab-icon-stack,
tab[pinned="true"][selected="true"]:active .tab-label-container,
tab[pinned="true"][selected="true"]:active .tab-reset-button,
tab[zen-essential="true"][selected="true"]:active .tab-icon-stack {
  transform: translate(3px, 3px) !important;
}


/* -------------------------- */
/* NORMAL TABS */
/* -------------------------- */
tab:not([pinned="true"]):not([zen-essential="true"]) .tab-background {
  border: 2px solid currentColor !important;
  border-radius: 10px !important;
  box-shadow: 3px 3px 0px currentColor !important;
  transition: transform 0.1s ease,
              box-shadow 0.1s ease !important;
  margin-bottom: 4px !important;
}

/* Click */
tab:not([pinned="true"]):not([zen-essential="true"]):active .tab-background {
  transform: translate(3px, 3px) !important;
  box-shadow: 0px 0px 0px currentColor !important;
}

/* Selected tab */
tab:not([pinned="true"]):not([zen-essential="true"])[selected="true"] .tab-background {
  transform: translate(2px, 2px) !important;
  box-shadow: 1px 1px 0px currentColor !important;
  border-radius: 10px !important;
}

/* Move favicon/text slightly when selected */
tab:not([pinned="true"]):not([zen-essential="true"])[selected="true"] .tab-content {
  transform: translate(2px, 2px) !important;
}

/* -------------------------- */
/* FOLDER LABEL (closed state) */
/* -------------------------- */

zen-folder[collapsed]{
  border-radius: 12px !important;
  transition: background 0.15s ease-in-out !important;
  padding-inline: 3px !important;
}

zen-folder[collapsed] .tab-group-label-container{
  border: 2px solid currentColor !important;
  border-radius: 12px !important;
  box-shadow: 4px 4px 0px currentColor !important;
  transition: transform 0.1s ease !important;
  margin-bottom: 4px !important;
  background: color-mix(
    in srgb,
    var(--zen-primary-color) 60%,
    #fff1d6 40%
  ) !important;
}


/* Click press effect */
zen-folder[collapsed] .tab-group-label-container:active {
  transform: translate(4px, 4px) !important;
  box-shadow: 0px 0px 0px currentColor !important;
}

zen-folder {
  margin-bottom: 3px !important;
}


/* -------------------------- */
/* OPEN FOLDER LABEL */
/* stays pressed */
/* -------------------------- */
zen-folder:not([collapsed]) .tab-group-label-container {
  border: 2px solid currentColor !important;
  border-radius: 12px !important;
  transform: translate(2px, 2px) !important;
  box-shadow: 1px 1px 0px currentColor !important;
}

zen-folder:not([collapsed]) .tab-group-label-container > .tab-group-folder-icon{
  transform: translate(2px, 2px) !important;
}

zen-folder:not([collapsed]) .tab-group-container {
  margin-top: 4px !important;
}

/* Move folder content with pressed state */
zen-folder:not([collapsed]) .tab-group-label {
  transform: translate(2px, 2px) !important;
}

zen-folder:not([collapsed]) {
  border-radius: 16px !important;
/*   border: 2px solid currentColor !important;
  box-shadow: 2px 2px 0px currentColor !important; */
  padding-right: 4px !important;
}

/* -------------------------- */
/* NEW TAB BUTTON */
/* -------------------------- */
#tabs-newtab-button {
  border: 2px solid currentColor !important;
  border-radius: 12px !important;
  box-shadow: 4px 4px 0px currentColor !important;
  transition: transform 0.1s ease !important;
  margin-bottom: 4px !important;
}

#tabs-newtab-button .toolbarbutton-icon{
  transform: rotate(0deg) !important;
  transition: transform 0.4s ease-in-out !important;
}

#tabs-newtab-button[in-urlbar="true"] .toolbarbutton-icon{
  transform: rotate(225deg) !important;
  transition: transform 0.25s ease-in-out !important;
}

/* Click press effect */
#tabs-newtab-button[in-urlbar="true"] {
  transform: translate(3px, 3px) !important;
  box-shadow: 0px 0px 0px currentColor !important;
}

/* -------------------------- */
/* sidebar buttons */
/* -------------------------- */

@media (-moz-pref("mac.navbuttons.disabled")) {
  #zen-sidebar-top-buttons #back-button,
  #zen-sidebar-top-buttons #forward-button {
    display: none !important;
  }
}


/* -------------------------- */
/* compact sidebar */
/* -------------------------- */

:root[zen-compact-mode="true"] #titlebar {
  border: 2px solid currentColor !important;
  box-shadow: 4px 4px 0 currentColor !important;
  border-radius: var(--zen-border-radius) !important;

  margin: 16px 16px 20px 16px !important;
  overflow: hidden !important;

  transition:
    transform 0.12s ease,
    box-shadow 0.12s ease !important;
}

:root[zen-compact-mode="true"] #titlebar:hover {
  box-shadow: 1px 1px 0 currentColor !important;
  transform: translate(3px, 3px) !important;
}

/* move urlbar when titlebar hovered */
:root[zen-compact-mode="true"]:has(#titlebar:hover) #urlbar {
  transform: translate(3px, 3px) !important;
  transition: transform 0.12s ease !important;
}

/* Prevent floating breakout urlbar from being shifted by compact mode hover */
:root[zen-compact-mode="true"]:has(#titlebar:hover) #urlbar[breakout][breakout-extend="true"] {
  transform: none !important;
}

/* Ensure urlbars translate correctly on press in compact mode */
:root[zen-compact-mode="true"]:has(#titlebar) #urlbar:not([breakout-extend="true"]):active {
  transform: translate(4px, 4px) !important;
  box-shadow: 0px 0px 0px currentColor !important;
}
:root[zen-compact-mode="true"]:has(#titlebar) #urlbar[breakout][breakout-extend="true"]:active {
  transform: translate(6px, 6px) !important;
  box-shadow: 0px 0px 0px currentColor !important;
}


/*to align the sidebar */
:root[zen-compact-mode="true"] #titlebar {
  padding-right: 6px !important;
}

/* MINI PLAYER */

#zen-media-controls-toolbar .show-on-hover {
    max-height: 50px !important;
    padding: 5px !important;
    margin-bottom: 0 !important;
    opacity: 1 !important;
    transform: translateY(0) !important;
    pointer-events: auto !important;
}

#zen-media-controls-toolbar{
  border: 2px solid currentColor !important;
  border-radius: 14px !important;
  overflow: hidden !important;
  padding: 8px !important;
  margin-inline: 6px !important;
  background: var(--zen-primary-color) !important;
}

#zen-media-controls-toolbar {
  box-shadow: 1px 1px 0 currentColor !important;
  transform: translate(2px, 2px) !important;
  transition:
    transform 0.12s ease,
    box-shadow 0.12s ease !important;
}

#zen-media-controls-toolbar.playing {
  box-shadow: 3px 3px 0 currentColor !important;
  transform: translate(0px, 0px) !important;
}

#zen-media-close-button {
  opacity: 0 !important;
  pointer-events: none !important;

  transition: opacity 0.12s ease !important;
}

#zen-media-controls-toolbar:hover #zen-media-close-button {
  opacity: 1 !important;
  pointer-events: auto !important;
}

#zen-media-progress-bar{
  --progress-height: 8px !important;
}

#zen-media-controls-hbox {
  justify-content: center !important;
}

#zen-media-mute-button {
  display: none !important;
}

/* sidebar top buttons */

#zen-sidebar-top-buttons-customization-target #PanelUI-menu-button image {
  transform: rotate(90deg) !important;
}

#zen-sidebar-top-buttons-customization-target #reload-button image{
  transform: rotate(0deg) !important;
  transition: transform 0.12s ease !important;
}

#zen-sidebar-top-buttons-customization-target #reload-button:hover image{
  background-color: transparent !important;
}

#zen-sidebar-top-buttons-customization-target #reload-button:hover image{
  transform: rotate(180deg) !important;
  transition: transform 0.12s ease !important;
}

/* doodles!!! */

@media (-moz-pref("mac.doodles")){
  #nav-bar::before {
    content: "";
    position: absolute;

    top: -23.5px;
    left: 100px;

    width: 24px;
    height: 24px;
    opacity: 0.7 !important;
    background: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3C!--%20Uploaded%20to%3A%20SVG%20Repo%2C%20www.svgrepo.com%2C%20Generator%3A%20SVG%20Repo%20Mixer%20Tools%20--%3E%3Csvg%20width%3D%22800px%22%20height%3D%22800px%22%20viewBox%3D%220%20-0.5%20151%20151%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M108.27%20135.14C108.384%20135.009%20108.265%20135.083%20108.246%20135.176C106.237%20144.847%2099.8055%20148.928%2090.4218%20149.246C86.9295%20149.364%2083.4318%20149.54%2079.9401%20149.475C67.1586%20149.237%2054.379%20148.84%2041.5969%20148.647C36.2674%20148.566%2030.93%20149.001%2025.6025%20148.893C22.9829%20148.801%2020.387%20148.361%2017.8827%20147.587C11.5326%20145.706%206.80174%20141.856%204.97974%20135.277C3.9086%20131.409%202.85586%20127.423%202.65568%20123.447C1.68386%20104.14%200.896231%2084.8239%200.292838%2065.4987C0.259224%2061.2417%200.635739%2056.9913%201.41715%2052.8065C2.03017%2049.0555%203.12363%2048.7069%206.78403%2048.7024C16.4978%2048.6897%2026.2116%2048.5584%2035.9254%2048.3086C57.8786%2047.752%2079.8285%2047.0615%20101.782%2046.5174C106.188%2046.4085%20106.388%2046.8456%20107.287%2051.0797C107.889%2053.9111%20108.752%2056.6867%20109.569%2059.7492C109.846%2059.7335%20110.366%2059.7347%20110.877%2059.6685C130.965%2057.0707%20144.376%2066.3014%20148.945%2085.9108C150.494%2092.5569%20151.203%2099.3001%20150.151%20106.07C147.805%20121.159%20137.914%20131.1%20122.366%20133.859C117.895%20134.651%20113.293%20134.706%20108.27%20135.14ZM7.79021%2056.3474C7.79021%2058.2659%207.70816%2060.1095%207.80399%2061.944C8.36778%2072.7394%208.80623%2083.5454%209.61024%2094.3244C10.4307%20105.317%2011.3981%20116.312%2012.7337%20127.248C13.6145%20134.463%2017.8683%20138.508%2025.0073%20139.792C28.4378%20140.461%2031.9162%20140.856%2035.4096%20140.973C51.5756%20141.26%2067.7434%20141.437%2083.9129%20141.507C86.9645%20141.417%2090.008%20141.145%2093.0268%20140.689C96.2554%20140.315%2097.9776%20138.375%2098.7061%20135.242C100.261%20128.56%20100.075%20121.822%2099.7943%20115.042C99.1406%2099.2258%2098.5696%2083.4067%2098.0813%2067.5846C97.931%2062.9364%2098.0577%2058.279%2098.0577%2053.2049L7.79021%2056.3474ZM109.594%20127.126C115.415%20126.032%20121.014%20125.534%20126.246%20123.879C136.041%20120.781%20141.507%20113.69%20142.492%20103.432C143.157%2096.5166%20142.045%2089.7642%20140.223%2083.0603C136.144%2068.042%20119.247%2063.2672%20108.706%2065.9647V73.9248C126.409%2077.4159%20131.52%2086.5455%20132.052%2098.5762C132.249%20102.987%20130.674%20106.912%20128.045%20110.428C123.499%20116.511%20116.872%20118.375%20109.594%20119.192V127.126ZM108.823%20110.478C112.06%20109.276%20114.784%20108.509%20117.286%20107.28C121.349%20105.289%20123.418%20101.836%20123.56%2097.2943C123.836%2088.481%20118.428%2082.5504%20108.823%2080.9457V110.478Z%22%20fill%3D%22%23000000%22%2F%3E%3Cpath%20d%3D%22M51.7362%202.12827C51.4921%203.51446%2051.3995%204.38875%2051.1809%205.23017C49.6812%2010.9987%2050.9722%2016.2376%2054.1292%2021.1411C55.7228%2023.6161%2057.5921%2025.9704%2058.7932%2028.6233C60.0683%2031.4908%2060.9871%2034.5037%2061.5288%2037.5948C61.7027%2039.3173%2061.3493%2041.052%2060.5154%2042.5692C60.0362%2043.5163%2058.4591%2044.5106%2057.4667%2044.424C56.4743%2044.3374%2055.4642%2043.0326%2054.7508%2042.0514C54.2939%2041.297%2054.0914%2040.4158%2054.1732%2039.5376C54.5263%2034.0644%2052.0302%2029.619%2049.1614%2025.3055C45.7845%2020.2274%2043.9192%2014.7063%2044.821%208.59647C45.2757%206.03906%2046.0934%203.55972%2047.2495%201.23366C47.5901%200.501187%2049.2618%20-0.0606076%2050.203%200.0837867C50.8869%200.189457%2051.368%201.5927%2051.7362%202.12827Z%22%20fill%3D%22%23000000%22%2F%3E%3Cpath%20d%3D%22M67.708%2011.3474C68.516%208.197%2069.1316%205.21921%2070.0708%202.3497C70.6136%200.689164%2071.9742%20-0.488994%2073.8993%200.200817C75.7042%200.845997%2075.8295%202.48887%2075.3563%204.04767C73.5186%2010.1076%2075.0347%2015.6051%2077.6981%2021.0862C79.5766%2025.0113%2081.1887%2029.0585%2082.5235%2033.2002C83.072%2035.0863%2083.1482%2037.0784%2082.7454%2039.0009C82.5248%2040.1344%2081.2122%2041.6833%2080.1929%2041.8513C79.2386%2042.0082%2077.8918%2040.7264%2076.9768%2039.8167C76.4222%2039.2667%2076.356%2038.2238%2076.0731%2037.4014C74.0903%2031.6421%2072.0504%2025.9011%2070.1496%2020.1148C69.2045%2017.2545%2068.5199%2014.3009%2067.708%2011.3474Z%22%20fill%3D%22%23000000%22%2F%3E%3Cpath%20d%3D%22M31.209%2041.5391C31.2061%2041.4289%2031.2162%2041.3187%2031.2392%2041.2109C33.2916%2035.1549%2030.4687%2030.6104%2027.0262%2025.9314C24.6289%2022.7749%2023.3055%2018.9336%2023.25%2014.9704C23.1945%2011.0072%2024.4097%207.13036%2026.7177%203.908C27.8039%202.5859%2029.17%201.52131%2030.7174%200.791033C31.3515%200.462864%2033.0146%200.851377%2033.2942%201.39089C33.6834%202.13714%2033.4439%203.4361%2033.056%204.31428C32.3596%205.88949%2031.1309%207.24477%2030.5153%208.84295C28.3421%2014.4829%2029.0648%2019.7415%2032.928%2024.5124C35.4221%2027.5886%2037.5689%2030.8513%2038.1229%2034.9192C38.6591%2038.8573%2037.4285%2042.0733%2034.7572%2043.4818C32.691%2044.5766%2031.2655%2043.7949%2031.209%2041.5391Z%22%20fill%3D%22%23000000%22%2F%3E%3C%2Fsvg%3E") no-repeat center / contain;

    pointer-events: none;
  }


  .zen-current-workspace-indicator {
    position: relative;
  }

  .zen-current-workspace-indicator:after{
    content: "";
    position: absolute;

    top: 20px;
    right: 20px;

    width: 20px;
    height: 20px;
    transform: rotate(0deg);
    background: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3C!--%20Uploaded%20to%3A%20SVG%20Repo%2C%20www.svgrepo.com%2C%20Generator%3A%20SVG%20Repo%20Mixer%20Tools%20--%3E%3Csvg%20width%3D%22800px%22%20height%3D%22800px%22%20viewBox%3D%220%20-2%20154%20154%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20clip-path%3D%22url(%23clip0)%22%3E%3Cpath%20d%3D%22M106.196%2029.7328C107.476%2028.8795%20108.577%2028.1164%20109.707%2027.3977C117.858%2022.2126%20126.71%2021.138%20135.917%2023.4732C151.578%2027.446%20157.044%2043.7028%20152.161%2056.1824C150.637%2060.081%20148.164%2063.6849%20145.705%2067.1253C142.997%2070.9156%20138.859%2072.8301%20134.427%2074.0109C132.051%2074.6436%20129.63%2075.1096%20126.995%2075.7036C126.724%2076.7242%20126.426%2077.7789%20126.162%2078.8429C124.755%2084.5333%20121.634%2089.278%20117.877%2093.6518C115.055%2096.9335%20111.257%2098.7338%20107.151%2099.5818C101.558%20100.736%2095.8973%20101.66%2090.2233%20102.32C75.247%20104.063%2060.1757%20103.771%2045.1331%20104.057C38.1644%20104.292%2031.1994%20103.488%2024.4674%20101.672C12.2924%2098.2193%204.94677%2090.2106%201.95517%2078.1373C-0.00242049%2070.4929%200.21227%2062.4541%202.5753%2054.9255C6.52383%2042.3022%2015.3503%2034.1364%2027.0489%2028.7374C28.9725%2027.9224%2030.5254%2026.4225%2031.4064%2024.5282C37.939%2011.6548%2048.2539%203.0142%2062.5575%200.785936C76.8419%20-1.43971%2089.1154%203.46842%2098.3993%2014.8684C101.369%2018.5366%20103.66%2022.705%20105.165%2027.1779C105.446%2028.0029%20105.815%2028.7975%20106.196%2029.7328ZM50.3463%2095.8144C53.2637%2095.8144%2056.1877%2095.9542%2059.0966%2095.7901C71.1993%2095.1056%2083.2924%2094.2281%2095.3998%2093.6452C99.3293%2093.5245%20103.191%2092.5853%20106.737%2090.8886C114.986%2086.8456%20118.859%2080.1522%20118.157%2071.041C117.612%2063.9775%20113.2%2058.5378%20106.284%2056.8753C97.6425%2054.7973%2089.7724%2056.4289%2083.0797%2062.483C81.2551%2064.133%2079.6503%2066.0239%2077.9347%2067.7941C76.1547%2069.6318%2074.5158%2070.0643%2072.8723%2069.1579C71.2847%2068.2824%2070.5968%2066.4998%2071.2971%2064.1917C72.3355%2060.7788%2071.7841%2057.5625%2070.541%2054.3576C69.1004%2050.7%2067.0533%2047.3117%2064.4864%2044.3343C56.5966%2035.0412%2042.4592%2030.9744%2031.459%2035.3706C16.8332%2041.212%206.45622%2053.5513%208.26376%2071.5706C9.84947%2087.3838%2017.5254%2092.4907%2028.8676%2094.9842C29.1958%2095.0564%2029.5319%2095.0984%2029.862%2095.164C36.642%2096.5029%2043.4941%2096.3231%2050.3463%2095.8144ZM79.1233%2055.1344C79.2959%2055.1002%2079.4659%2055.0502%2079.63%2054.9857C80.0133%2054.7566%2080.4071%2054.5388%2080.7642%2054.2736C87.4641%2049.2933%2095.027%2047.3526%20103.286%2048.0384C114.415%2048.9573%20122.532%2054.5832%20125.952%2065.5204C126.172%2066.2234%20126.496%2066.8942%20126.94%2068.0021C129.405%2067.0209%20131.731%2066.2576%20133.915%2065.1968C141.922%2061.3067%20145.669%2054.7899%20145.144%2045.9162C144.707%2038.5147%20140.214%2032.9471%20132.996%2031.2794C124.328%2029.2742%20116.489%2031.012%20109.85%2037.114C108.04%2038.7785%20106.449%2040.6801%20104.721%2042.4378C103.084%2044.1035%20101.481%2044.4843%2099.9076%2043.6665C98.2884%2042.8244%2097.5356%2041.0018%2098.2332%2038.7401C99.3228%2035.2096%2098.7636%2031.8865%2097.3938%2028.6008C96.9632%2027.5678%2096.5136%2026.5398%2096.0096%2025.5415C87.1733%208.04421%2066.4593%204.0915%2053.303%2012.152C48.4799%2015.0372%2044.2502%2018.8141%2040.8393%2023.2809C40.3847%2024.0111%2039.984%2024.7733%2039.6408%2025.5621C59.8809%2026.3871%2072.8756%2036.4281%2079.1233%2055.1344Z%22%20fill%3D%22%23000000%22%2F%3E%3Cpath%20d%3D%22M95.939%20122.676C96.3426%20121.375%2096.827%20120.103%2097.3895%20118.863C99.0303%20115.827%20100.762%20112.839%20102.5%20109.857C102.943%20109.096%20103.4%20108.15%20104.107%20107.783C105.057%20107.296%20106.133%20107.111%20107.192%20107.252C108.466%20107.469%20108.758%20108.706%20108.73%20109.889C108.74%20110.446%20108.645%20111%20108.452%20111.522C106.786%20115.407%20105.105%20119.284%20103.358%20123.132C102.995%20123.824%20102.505%20124.441%20101.914%20124.95C100.767%20126.033%2099.2581%20126.597%2097.9552%20125.672C97.0114%20124.998%2096.5553%20123.637%2095.939%20122.676Z%22%20fill%3D%22%23000000%22%2F%3E%3Cpath%20d%3D%22M36.9705%20111.129C36.5688%20112.319%2036.3142%20113.164%2035.9991%20113.99C34.7619%20117.206%2033.4806%20120.409%2032.2579%20123.634C31.0515%20126.822%2029.0616%20128.163%2026.8549%20127.204C24.9857%20126.389%2024.4717%20124.242%2025.7528%20121.358C27.2434%20118.004%2028.9216%20114.729%2030.5814%20111.453C30.913%20110.622%2031.4692%20109.9%2032.1877%20109.367C33.0744%20108.879%2034.3875%20108.448%2035.2172%20108.769C36.0231%20109.078%2036.4474%20110.369%2036.9705%20111.129Z%22%20fill%3D%22%23000000%22%2F%3E%3Cpath%20d%3D%22M59.2449%20124.396C59.8402%20122.81%2060.2143%20121.526%2060.7899%20120.338C62.1977%20117.433%2063.6962%20114.57%2065.1657%20111.694C65.4003%20111.19%2065.6774%20110.707%2065.9945%20110.25C66.7381%20109.261%2067.8782%20108.694%2068.9185%20109.288C69.7921%20109.892%2070.457%20110.751%2070.8219%20111.748C70.9991%20112.512%2070.919%20113.314%2070.5941%20114.028C69.3957%20117.376%2068.1841%20120.73%2066.8169%20124.013C66.4087%20125.054%2065.6837%20125.939%2064.7443%20126.543C63.7814%20127.068%2062.3001%20127.4%2061.3661%20127.024C60.4321%20126.648%2059.9189%20125.29%2059.2449%20124.396Z%22%20fill%3D%22%23000000%22%2F%3E%3Cpath%20d%3D%22M127.026%20127.614C126.877%20128.401%20126.679%20129.176%20126.432%20129.937C125.325%20132.618%20124.301%20135.347%20122.977%20137.92C122.268%20139.304%20121.251%20140.506%20120.005%20141.435C117.998%20142.879%20115.898%20141.737%20115.794%20139.248C115.726%20138.133%20115.937%20137.02%20116.408%20136.008C117.998%20132.936%20119.765%20129.953%20121.504%20126.959C121.745%20126.45%20122.154%20126.039%20122.662%20125.794C123.581%20125.54%20124.722%20125.221%20125.49%20125.561C126.228%20125.888%20126.608%20127.015%20127.026%20127.614Z%22%20fill%3D%22%23000000%22%2F%3E%3Cpath%20d%3D%22M48.1399%20135.399C46.5706%20140.064%2045.038%20144.239%2042.4008%20147.869C41.1695%20149.563%2039.3664%20149.823%2037.992%20148.911C36.7181%20148.066%2036.3466%20146.574%2036.9767%20144.759C37.1048%20144.334%2037.2812%20143.923%2037.502%20143.538C39.4618%20140.441%2041.4162%20137.34%2043.4305%20134.277C44.1426%20133.196%2045.2297%20132.308%2046.5023%20133.121C47.2938%20133.62%2047.6897%20134.738%2048.1399%20135.399Z%22%20fill%3D%22%23000000%22%2F%3E%3Cpath%20d%3D%22M84.6108%20136.308C82.773%20139.941%2081.1079%20143.462%2079.2183%20146.861C78.8639%20147.523%2078.2633%20148.018%2077.5459%20148.239C76.8286%20148.46%2076.0534%20148.389%2075.3879%20148.043C73.8783%20147.373%2073.8698%20145.913%2074.1225%20144.564C74.3089%20143.463%2074.6646%20142.398%2075.1772%20141.406C76.461%20139.051%2077.8249%20136.733%2079.2872%20134.485C80.1017%20133.233%2081.524%20132.693%2082.8085%20133.484C83.5954%20133.969%2083.9301%20135.185%2084.6108%20136.308Z%22%20fill%3D%22%23000000%22%2F%3E%3Cpath%20d%3D%22M141.948%2087.6658C140.242%2091.7351%20138.791%2095.6075%20136.982%2099.3092C136.817%2099.6735%20136.576%2099.9984%20136.275%20100.262C135.974%20100.525%20135.619%20100.72%20135.235%20100.834C134.852%20100.948%20134.448%20100.978%20134.053%20100.922C133.656%20100.865%20133.277%20100.725%20132.94%20100.509C132.606%20100.348%20132.309%20100.12%20132.067%2099.8408C131.824%2099.5612%20131.64%2099.235%20131.528%2098.8819C131.415%2098.5295%20131.376%2098.1573%20131.412%2097.7885C131.448%2097.4203%20131.559%2097.0632%20131.738%2096.739C133.51%2093.1344%20135.504%2089.6309%20137.543%2086.1654C138.122%2085.1809%20139.343%2084.5337%20140.443%2085.3122C141.142%2085.8077%20141.452%2086.85%20141.948%2087.6658Z%22%20fill%3D%22%23000000%22%2F%3E%3C%2Fg%3E%3Cdefs%3E%3CclipPath%20id%3D%22clip0%22%3E%3Crect%20width%3D%22153.583%22%20height%3D%22149.645%22%20fill%3D%22white%22%20transform%3D%22translate(0.329102%200.09375)%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3C%2Fsvg%3E") no-repeat center / contain;

    opacity: 0.7 !important;
    pointer-events: none;
  }
}